.img-background {

    height: 650px;
    margin: 0 auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .img-background {

        height: 650px;
        }
    }

@media (min-width: 1025px) and (max-width: 1499px) {

    .img-background {

        height: 650px;
        }
}

@media (max-width: 360px) {

    .img-background {
        height: 360px;
        width: 360px;
        }
}